<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Quotes by Users</title>
</head>
<body>
    <div class="container">
        <div align="right">
            <a href="{% url 'quotes:allquotes' %}" >Back</a>
            <a href="{% url 'quotes:logout' %}" class="button">Logout</a>
        </div>
        {% for name in username %}
            <h1>{{name.first_name}} {{ name.last_name}}'s Quotes</h1>
        {% endfor %}
            <table>
                <thead>
                    <tr>
                    <th>Quote</th>
                    </tr>
                </thead>
                {% for quote in userquotes %}
                <tbody>
                    <tr>
                    <td>{{ quote.author }} : {{ quote.quote }}</td>
                    </tr>
                </tbody>
               {% endfor %}
            </table> 
         
        </div>

</body>
</html>